/* import */
@import url("typography.css"); /* Using a url */

/* css vars */
:root {
    --brand1: rgba(40,40,40,1.0);
    --brand2: rgba(255,255,255,1.0);
    --brand3: rgba(159,159,159,1.0);
    --dkalpha: rgba(0,0,0,0.5);
    --whalpha: rgba(255,255,255,0.9);
    --highlightbg: rgba(0,0,0,0.1);
    --whalpha1: rgba(255,255,255,0.2);
    --bgoverlay-dark: rgba(0,0,0,0.7);
    --bgoverlay-light:rgba(255,255,255,0.7);
    --padph: 7vw;
    --pad1000: 12.5vw;
    --lowLight: rgba(251,251,251,1.0);
    --hiLight: rgba(240,240,240,1.0);
    --mainBG: rgba(255,255,255,1.0);
    --mdGrey: rgba(188,188,188,1.0);
    --ltGrey: rgba(210,210,210,1.0);
    --white: rgba(255,255,255,1.0);

}

@media screen and (min-width: 1000px) {
    .m {
        display: none !important;
    }
}
@media screen and (max-width: 1000px) {
    .d {
        display: none !important;
    }
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-family: "avenir";
    font-weight: 500;
    font-size: 16px;
}
body {
    background-color: var(--mainBG);
    color: var(--brand1);
}
@supports not (--css: variables) {
    body {
        background-color: rgba(245,245,245,1.0);
        color: rgba(28,28,28,1.0);
    }
}
footer {
    background-color: #ffffff;
}
@media screen and (min-width: 1000px) {
    main {
        padding:0vw 0vw;
    }
}


hr {
border:none;
border-bottom: 1px solid #dedede;
}
.content hr {
    border-bottom: 2px solid var(--brand1);
  
}

div.logo {
    display:flex;
    padding-left:25px;
    padding-right:35px;
    width:160px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background:#000000;
}
div.logo svg {
    width:100%;
    height: auto;
    margin-top:3px;
    background:#000000;
}


/* iconography */
a.icon  {
    text-decoration: none;
    font-size:1.2em;
}
p.icon {
    display: inline-block;
    padding: 0;
}
i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "icomoon";      
    color: var(--brand1);
    font-size:1.5em;
    width: 50px;
    height: 50px;
    padding:5px;
}
i.round {
    border-radius: 50%;
    background-color:var(--brand1);  
    color: var(--mainBG);
}
i.inline {
    width:auto;
    height:auto;
    padding: 0;
    font-size:90%;
    line-height: 0.9em;
}
i.brand-bg {
    color: #ffffff;
    background-color: var(--brand2);
}
i.bullet {
    margin-right: 0.5em;
}
i.largeIcon {
    font-size:5em;
    width:auto;
    height: auto;
}
i.tiny {
    font-size:0.7em;    
    padding: 0;
    width:auto;
    height: auto;
}
p.icon i.round,
p.icon i.brand-bg {
    width:80px;
    height:80px;
    font-size:2.5em;
}
.content .icon {
    margin-bottom: 1em !important;
}
i.iso {
    margin-top:0.3em;
    margin-bottom: 0.2em;
    padding: 0.5em;
    padding-left: 0;
    width: auto;
    height: auto;
}
@media (pointer: fine) {
    a i.round:hover {
        background-color:var(--whalpha);
    }    
}




/* mobile navigation */
nav#navMobile {
    position: relative;
}
nav#navMobile a {
    position:fixed;
    right: 1vw;
    bottom:0.5vw;
    z-index: 10001;
}





/* brand strip */
div#brand {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    z-index:10000;
}
div#brand div.logo {
    width:80px;
    height: 80px;
}
div.brands {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #efefef;
}
div.brands a {
    text-decoration: none;
    height:60px;
    width:auto;
    display: flex;
    margin: 0;
}
div.brands a img {
    width:auto;
    margin: 0;
}
main > div.brands {
    justify-content: flex-start;
}
main div.brands h2 {
    flex-basis: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
main div.brands h2:first-child {
    margin-top: 0vw;
}
main div.brands a {
    margin:0;
    max-height: 35px;
    flex:0 1 auto;
    padding: 2vw 4vw 1vw 0vw;
}
main div.brands a img {
    width:100%;
    height:auto;
}

@media screen and (max-width: 1000px) {
    main div.brands a {
        padding: 5px 20px;
    }
}
@media screen and (min-width: 1300px) {
    main > div.brands {
        padding:8vw 16vw 8vw 8vw;
    }
}




/* layout */
article.teaser > div > section {
    margin-bottom: 0px;
}

div.catWrapper article > header {
    display: flex;
    align-items: center;
    padding: 4em 0 2.5em 0;
}
div.modelWrapper {
    margin-top: 10px;
}
div.modelContain {
    margin-bottom: 2em;
}

div.listContent {
    padding-top: 1em;
    padding-bottom:1em;
}

.col3.panelled section:nth-child(1),
.tint1 {
    background-color: #f9f9f9;
}
.col3.panelled section:nth-child(2),
.tint2 {
    background-color: #f5f5f5;
}
.col3.panelled section:nth-child(3),
.tint3 {
    background-color: #ededed;
}





/* art direction image based teasers */
.imgTeaser {
    background-color: var(--brand1);
    /*background-blend-mode: multiply;*/
    display: flex;
    flex-direction: column;
    width:100%;
}

.imgTeaser.teaserQtr div.scontain {
    height: 100%;
}
.imgTeaser.teaserQtr div.scontain section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.imgTeaser.teaserQtr a.ctaButton {
   margin-top: auto;
}
.imgTeaser div.scontain section {
    flex-basis: 100%;
}


aside div.teaserSmall {
    min-height:18vw;
}

.imgTeaser a.ctaButton {
    margin-top:1em;
}
.intro.picturefill-background > div.scontain,
.imgTeaser > div.scontain {
    background-color: rgba(10,10,10,0.2);
}


/* teaser width control */
.teaserFull section > * {
    max-width:100%; 
} 
.teaserHalf section > * {
    max-width:100%; 
} 






/* effects */
.multiply1 {
    background-color: #333333;
    background-blend-mode: multiply;
}
.multiply2 {
    background-color: #951616;
    background-blend-mode: multiply;
}
.multiply3 {
    background-color: #959016;
    background-blend-mode: multiply;
}
.multiply4 {
    background-color: #169523;
    background-blend-mode: multiply;
}
.multiply5 {
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
}
.lighten1 {
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: overlay;
    filter:grayscale(80%);
}
.lighten2 {
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: overlay;
    filter:grayscale(80%);
}
.gradient > div.scontain {
    background: linear-gradient(to left, 
    rgba(43,193,246,0.3), 
    rgba(43,193,226,0.1), 
    rgba(250,0,205,0.2),
    rgba(255,0,205,0.4));
    background-blend-mode: multiply;
}
.multiply1 > div.scontain,
.multiply2 > div.scontain,
.multiply3 > div.scontain,
.multiply4 > div.scontain,
.multiply5 > div.scontain {
    background-color: rgba(10,10,10,0.0) !important;
}


/* cancel all effects */
.nofx div.scontain {
    background: none;
}




/* carousel */
div.carouselThumbs div.scontain {
    margin-top:1em;
    padding-left:40px;
    padding-right:40px;
    margin-bottom:3em;
}
div.carouselThumbs div.scontain > section {
    display: flex;
}
div.carouselThumbs div.scontain div.item {
    flex-basis: 10vw;
    padding: 15px;
    background-color: #ffffff;
}
div.carouselThumbs div.scontain div.item div.commonInfo h4 {
    max-width: 97%;
    font-size: 0.85em;
    font-weight: 300;
    margin-top:10px;
}


/* cms marketing content and teasers */
div.cmsRelated {
    margin-top:3em;
    border:1px solid palegreen;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    /* img teaser height control */
    .teaserFull, 
    .teaserHalf {
        height: 80vh;
    } 
}


@media screen and (max-width: 1000px) {
    /* main layout containers -mbl */
    #masthead {display:none;}

    article.content,
    footer {
        padding:10% 5% 12.5% 5%;
    }

    .imgTeaser div.scontain {
        flex-grow:1;
        color:#ffffff;
        padding:10% 5% 12.5% 5%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .imgTeaser.teaserTiny div.scontain,
    .imgTeaser.teaserSmall div.scontain {
        align-items: center;
        padding:3.5vw 1.75vw;
    }


}




@media screen and (min-width: 1000px) {
    /* main layout containers -desk */
    #masthead {
        position: absolute;
        width: 90vw;
        z-index: 10000;
        color: #ffffff;
        padding: 2vw 2vw 2vw 8vw;
    }

    #strip, #mainNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    article.teaser {
        margin-bottom: 0vw;
       /* margin-bottom: 1px;*/
    }

   
    .fullWidth > div.scontain, 
    .col1 > div.scontain, 
    .col2 > div.scontain, 
    .col3 > div.scontain,
    .col4 > div.scontain,
    .intro > div.scontain {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fullWidth section {
        flex-basis: 100%;
    }
    .col1 section, .twoThird section {
        flex-basis: 58.5%;
    }
    .col2 section, .half section {
        flex-basis: 34vw;
        padding: 8vw;
    }
    .teaser.col2 section {
        flex-basis: 50%;
    }
    .col3 section, .oneThird section {
        flex-basis: 17.33vw;
        padding: 8vw;
    }
    .col3.panelled section {
        min-height: 17.33vw;
        display: flex;
        flex-direction: column;
    }
    .col3.panelled section a.ctaInline {
        margin-top: auto;
    }

    .teaser.col3 section {
        flex-basis: 33.33%;
    }
    .col4 section, .oneQtr section {
        flex-basis: 21%;
    }
    .teaser.col4 section {
        flex-basis: 25%;
    }
    
    .col2.oneThird > div > section:last-child,
    .col2.twoThird > div > section:first-child {
        flex-basis: 61.5%;
        padding-top:4%;
        padding-bottom:4%;
    }
    .col2.oneThird > div > section:first-child,
    .col2.twoThird > div > section:last-child {
        flex-basis: 26.5%;
        padding:4% 3%;
        background-color: var(--hiLight);

    }
    article.intro > div.scontain > section {
        flex-basis:25%;
    }
    article.intro > div.scontain > section:first-child {
        flex-basis: 20%;
        padding: 3vw 2vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    article.intro.picturefill-background > div.scontain > section:first-child{
        background-color: rgba(20,20,20,0.8);
    }
    article.intro > div.scontain > section:first-child > p {
       margin-top: auto;
       padding:0;
       margin-bottom:0;
    }
    article.intro.picturefill-background section {
        min-height: 280px;
    }
    article.intro > div.scontain > section:last-child {
        display: flex;
    }
    article.intro > div.scontain > section:last-child > div.imgTeaser {
        border-left:1vw solid var(--mainBG);
    }
    article.content > header {
        margin: 8vw 8vw 0 8vw;
        padding-bottom:1.5vw;
    }
    article.content > div.scontain section {
        padding-top: 3vw;
    }

    article.fs {
        height: 35vw;
        display: flex;
        align-items: center;
        padding:0;
    }
    article.fs > div.scontain {
        padding: 0;
        height: 35vw;
        width: 100vw;
        display: flex;
        align-items: center;
        align-content: center;
    }


    .imgTeaser div.scontain {
        flex-grow:1;
        color:#ffffff;
        padding:8vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imgTeaser.teaserTiny div.scontain,
    .imgTeaser.teaserSmall div.scontain {
        align-items: center;
        padding:3vw;
    }
    .imgTeaser.teaserMed > div.scontain,
    .imgTeaser.teaserQtr > div.scontain {
        align-items: flex-start;
        padding:3vw;
    }

  


    .imgTeaser.teaserTiny div.scontain section,
    .imgTeaser.teaserSmall div.scontain section,
    .imgTeaser.teaserMed div.scontain section {
        text-align: left;
        justify-content: flex-start;
    }
    
    div.teaserMed div.scontain section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      
    }

    .imgTeaser.right div.scontain section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    .imgTeaser.leftBtm div.scontain {
        align-items: flex-end;
    }
    .imgTeaser.leftBtm div.scontain section {
        align-items: flex-start;
        text-align: left;
    }

    /* teaser width control */
    .teaserFull section > * {
        max-width:50%; 
    } 
    .teaserHalf section > * {
        max-width:70%; 
    } 




    /* grid layout */
    .grid section > div.item {
        margin-bottom: 3vw;
        position: relative;
    }
    .grid section > div.item picture.teaser {
        padding: 1.6vw; 
    }   
  
    .grid section > div.item > a:hover picture.teaser {
        background-color: var(--hiLight);
    }
    .grid section > div.item > a:hover picture.teaser > img {
        transform: scale(1.01);
    }
    .grid:not(.shop) section > div.item > a:hover {
        background-color: var(--hiLight);
    } 
    .grid.productTeasers section > div.item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  
    .grid.productTeasers section > div.item > a {
        flex-grow: 1;
        padding: 0;
    }    
    .grid div.commonInfo,   
    .grid div.summarySpecs {
        padding: 0.5vw 3vw 0.5vw 1.6vw; 
    }
    .grid div.commonInfo {
        padding-top:0; 
    }
    .grid.shop div.commonInfo {
        padding-top: 0; 
    }
    .grid.shop section > div.item,
    .grid.shop section > div.item picture.teaser {
        background-color: var(--white);
    }
    .grid.shop section > div.item > a:hover picture.teaser {
        background-color: var(--white);
    }

    .grid.gridRow section {
        display: flex;
        flex-wrap: nowrap;
    }
    .grid.gridRow section > div {
        text-align: center;
        margin:1px;
        height:10.5vw;
    }
    .grid.gridRow div.scontain {
        padding:0;
        height: 100%;
        align-items: center;
    }
    .gridRow .imgTeaser a {
        display: flex;
        height:10.5vw;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding:10px;
    }
    .gridRow .imgTeaser:hover {
        background-color: #aeaeae;
    }
    
    .grid.content > div.scontain {
        padding: 0vw 8vw 8vw 8vw;
    }

    .grid.content > div > section > div.item  {
        background-color: rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .grid.content > div > section > div.item > div  {
       display: flex;
       width:99%;
       padding-left:1%;
       align-items: center;
       justify-content: flex-start;
       flex: 1 1 auto;
    }
 



    @supports (display: grid) {

        .grid.content section {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
            grid-column-gap:3vw;
        }
        .grid.content > div > section > div.item  {
            min-height:19vw;
        }

    }

   

    @supports not (display: grid) {
        .grid > div > section {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .grid.productTeasers > div > section > div.item  {
            flex-basis: 30%;
            margin-right:3%;
        }
        .grid.content > div > section > div.item  {
            flex-basis: 11.5vw;
            min-height:12.5vw;
            margin-right:2%;
        }
    }




    article.productTeasers > div.scontain {
        border-bottom:1px solid #ffffff;
        padding-bottom:2em;
    }



    /* cat shop scaffolding */
    div.catWrapper {
        padding-top:1em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    div.catWrapper > aside {
        flex-basis:15vw;
        padding-top:2.2em;
    }
    div.catWrapper > div {
        flex-basis:73vw;
    }
    .catSidebar {
        margin-left:2vw;
    }
    .catSidebar > div.catGroup {
        margin-bottom:2.5em;
        max-width:85%;
    }
    div.cmsBlock {
        margin-bottom:2.5em;
    }
    
    div.cmsBlock > div {
        margin:1.25em 0;
    }

    /* brand and navigation layer */
    nav#navMobile, div#headerNav {
        display: none;
    }
    #mainNav > div.mastheadSearch {
        width:190px;
        text-align: right;
        padding-right: 30px;
    }


    /* big footer */
    footer {
        border-top:1px solid #efefef;
    }
    footer > article > div.scontain {
        display: flex;
    }
    div.columns {
        display: flex;
        justify-content: space-between;
    }
    div.columns > div.scontain {
        flex-basis: 45%;

    }
   footer section {
        flex-basis: 30%;
        padding:8vw;
        border-left: 1px solid #efefef;
    }
    footer section:first-child {
        border-left: none;
    }

    /* model */
    div.gallery {
        margin-bottom: 1em;
    }
    div.gallery div.mainImg {
        background-color: #ffffff;
    }
    div.gallery div.thumbImg {
        display: flex;
        flex-wrap: wrap;
    }
    div.gallery div.thumbImg img {
        width:90px;
        height: 60px;
        margin: 10px;
        margin-left:0;
    }
    div.gallery div.thumbImg a {
        position: relative;
        text-align: center;
    }
    div.gallery div.thumbImg a.activeLink img {
        opacity:0.3;
    }
    div.gallery div.thumbImg a.isVideo::before {
        position: absolute;
        width:40px;
        height:30px;
        line-height:30px;
        border-radius:4px;
        top:50%;
        left:50%;
        margin-left: -24px;
        margin-top: -15px;
        background-color: rgba(255,255,255,0.8);
        color: red;
        content:"\e912";
        font-size:30px;
        font-family: "icomoon";
    }
    
    div.modelContain > article > div.scontain {
        display: flex;
        justify-content: space-between;
    }
    div.modelContain > article > div.scontain > section:first-child {
        flex-basis: 60%;
    }
    div.modelContain > article > div.scontain > section:last-child {
        flex-basis: 30%;
        padding-right: 5%;
    }
    div.modelContain div.modelDesc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    div.modelContain div.commonInfo {
        flex-basis: 47%;
    }
    div.modelContain div.downloads {
        flex-basis: 47%;
    }
    div.modelContain div.table {
        flex-basis: 100%;
    }



    /* related */
    div.related article > header {
        padding-top:3em;
    }
    div.related.shop > article > header  {
        display:flex;
        justify-content: space-between;
        padding-right: 5%;
    }
    div.related.shop > article > header > h3  {
       flex-basis: 47%;
    }
    div.related article.productTeasers > div.scontain {
        border-bottom:none;
        padding-bottom:0;
    }




   
}


@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .col4 section, .oneQtr section {
         flex-basis: 47%;
     }
     .teaser.col4 section {
         flex-basis: 49%;
         margin-bottom: 1.5em;
     }

    div.modelContain > article > div.scontain > section:first-child {
        flex-basis: 47%;
    }
    div.modelContain > article > div.scontain > section:last-child {
        flex-basis: 45%;
        padding-right: 3%;
        padding-left:2%
    }
    div.modelContain div.modelDesc {
        display: block;
        
    }

     @supports (display: grid) {  
        .grid.content section {
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        }
    }
    @supports not (display: grid) {
        .grid.content > div > section > div.item  {
            flex-basis: 20vw;
            margin-right:2%;
        }
    }

 }
 


/* for any fixes on mbl landscape */
@media screen and (max-width: 1000px) and (orientation:landscape) {
}









/* images */

/* image */
picture, img {
    display: block;
}
img {
    width:100%;
    height:auto;
}
picture.teaser > img {
    background-color: #ffffff;
}
article.content picture {
    margin-bottom: 1.75em;
}
@supports (object-fit: cover) {
    .teaser img {
        object-fit: cover;
    }
    .gallery img {
        object-fit: cover;
    }
}

/* change this to the relatiive - absolute IE fix */
@supports not (object-fit: cover) {
    picture.teaser  {
        max-height:200px;
        overflow: hidden;
    }
    .teaser img {
        height:auto;
        max-height: none;
    }
}




/* video and custom image handling */


.pbVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0
}

.pbVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.hidden-xs {
    display: none
}
@media screen and (min-width: 1200px) {
    .hidden-xs {
        display: block;
    }
}

div#vidHolder {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
video.hidden-xs {
    width: 100vw;
    height: 100%;

    object-fit: cover;
}

 

@media screen and (max-width: 1200px) {
    video.hidden-xs {
        width: 100%;
        height: 100%;
    }
}

/* added to support CMS article markup */
article.video div.imgTeaser > div.scontain {
    z-index: 2000;
}
div.vidCover {
    z-index: 1000; 
    position: absolute; 
    width:100%; 
    height: 100%;
}
div.vidCover2 {
    z-index: 1001; 
    position: absolute; 
    width:100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.55);
}
div.vidCover.dark {
    background-color:rgba(0,0,0,0.5); 
}
div.vidCover.light {
    background-color:rgba(255,255,255,0.5); 
}

div.vidCover.gradient {
    background: linear-gradient(to  left, 
    rgba(43,193,246,0.7), 
    rgba(43,193,226,0.4), 
    rgba(250,0,205,0.5),
    rgba(255,0,205,0.8));
}




    /* img teaser height control */
    .teaserFull {
        min-height: 100vh;
    } 

    .teaserHalf {
        min-height: 50vw;
    } 
    .teaserMed,
    .teaserQtr {
        min-height: 33vw;
    }
