/* 
 * 	Default theme - Owl Carousel CSS File
 */
 .owl-theme .owl-nav {
	margin-top: 5px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	font-size: 1.2em;
	margin: 0px;
	padding: 2px 3px;
    /*background-color:rgba(255,255,255,0.2);*/
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
   /*background-color:rgba(0,0,0,0.4); */
    color: red;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 5px;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; 
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 10px 1px 5px 1px;
    background-color:rgba(0,0,0,0.4); 
    display: block;
    backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background-color:rgba(0,0,0,0.6); 
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color:rgba(0,0,0,0.8); 
}

.owl-theme .owl-controls {position:relative; width:100%; z-index:20000; height:50px;}
.owl-theme .owl-controls #customDots {position:absolute; width:100%;}
.owl-theme .owl-nav {
    display: flex;
    align-items: center;
}
.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next { 
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
} 
.owl-theme .owl-nav .owl-prev {left:-40px;}
.owl-theme .owl-nav .owl-next { right:-40px; }
.owl-theme .owl-nav .owl-prev i, .owl-theme .owl-nav .owl-next i {line-height:100%;} 

.owl-theme .owl-dots .owl-dot:hover span { cursor:pointer;}
.owl-carousel .owl-item img {/*width:auto;*/ margin:0px auto;}


.owl-nav button span {
    display: block;
    padding: 10px;
    font-size:1.2em;
}

/* reset default */
.owl-theme button {
    border-style: none;
    background: none;
}

div.owl-carousel,
div.owl-carousel > div {
    height:100%;
}
div.controlContainer {
    width:74vw;
    padding:0;
    margin: 10px auto 0 auto;
    height: 50px;
}
#owl-controls {
    display: flex;
    align-items: center;
}


div.oSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

div.owl-stage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.owl-carousel .owl-item {
    background-color: #ffffff;
}


@media screen and (max-width:1000px) {
    #customNav {
       display: none;
    }
}


@media screen and (min-width:1000px) {
}



