

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Regular.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-Regular.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/inter/Inter-ExtraBold.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-ExtraBold.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter/Inter-Black.woff2?v=3.12") format("woff2"),
       url("../fonts/inter/Inter-Black.woff?v=3.12") format("woff");
}


/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/inter/Inter-roman.var.woff2?v=3.12") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/inter/Inter-italic.var.woff2?v=3.12") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/inter/Inter.var.woff2?v=3.12") format("woff2");
}

/*
*
*
*
*
* start variables
*
*
*
*
*
*/
html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Inter var experimental', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  p {
    line-height: 0.1 !important;
    font-variation-settings: 'wght' 300, 'slnt' -12;
  }
}
body {
  background-color: rgba(0,0,0,0.85);
  color: #0a0a0a;
}
hr {
  border: none;
  border-bottom: 1px solid #dedede;
}
/* 
* forms 
*/
input {
  border-radius: 5px;
  border-color: #0a0a0a;
}
main {
  padding: 5vw;
}
main#holding {
  padding: 5vw;
  height: calc(100vh - 5vw * 2);
}
main#holding > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url("/images/v-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 90%;
}
@media screen and (max-width: 1100px) {
  main#holding > div {
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: auto 40%;
    background-position: center;
  }
}
main#holding > div > div {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2vh auto 3vh auto;
}
@media screen and (max-width: 1100px) {
  main#holding > div > div {
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-height: 45vh;
  }
}
main#holding > div div#countup1 {
  -webkit-align-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-item-align: center;
  margin-top: 2vh;
  margin-bottom: 2.25vh;
  background-color: rgba(255,255,255,0.1);
}
@media screen and (max-width: 1100px) {
  main#holding > div div#countup1 {
    text-align: center;
  }
}
div#countup1 span.seconds {
  min-width: 160px;
  text-align: left;
  display: inline-block;
}
/* 
* typography 
*/
html,
body {
  font-weight: 300;
  font-size: 16px;
}
a:link,
a:visited {
  text-decoration: underline;
  font-weight: 500;
}
a:link {
  color: #e60a0a;
}
a:visited {
  color: #0a0a0a;
}
a:hover,
a:active {
  text-decoration: none;
}
p,
li,
a,
td {
  color: #0a0a0a;
  line-height: 140%;
  letter-spacing: -0.03rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #0a0a0a;
  margin: 0;
  margin-bottom: 0.1rem;
}
h1,
.h1,
h2,
.h2 {
  letter-spacing: -0.1rem;
  line-height: 110%;
}
h3,
.h3,
h4,
.h4 {
  letter-spacing: -0.06rem;
  line-height: 130%;
}
h5,
.h5,
h6,
.h6 {
  letter-spacing: -0.04rem;
  line-height: 130%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5 {
  font-weight: 900;
}
h4,
.h4,
h6,
.h6 {
  font-weight: 600;
}
main#holding h1 {
  font-size: 1.5em;
}
main#holding h2 {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
  letter-spacing: 0;
}
main#holding h3 {
  font-size: 0.8em;
  font-weight: 200;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
  letter-spacing: 0;
}
span.timeel {
  color: rgba(255,255,255,0.2);
  font-weight: 900;
  font-size: 7em;
  line-height: 100%;
}
/* 
* elements 
*/
body {
  background-color: rgba(0,0,0,0.97);
  -webkit-animation: color-animation 30s infinite linear alternate;
  animation: color-animation 30s infinite linear alternate;
}
div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 40vw;
}
@media screen and (min-width: 750px) and (max-width: 1100px) {
  div.logo {
    width: 30vw;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1500px) {
  div.logo {
    width: 16vw;
  }
}
@media screen and (min-width: 1500px) {
  div.logo {
    width: 14vw;
  }
}
div.logo svg {
  display: block;
  width: 100%;
  height: auto;
}
div.logo.long svg {
  width: 100%;
}
div.logo.square svg {
  width: 30%;
}
div.logo.stacked svg {
  width: 25%;
}
.cta {
  border: 1px solid #0a0a0a;
  display: inline-block;
  padding: 0.55em 1em 0.5em 1em;
}
a.cta:link,
a.cta:visited {
  text-decoration: none;
}
a.cta:hover,
a.cta:active {
  color: #e60a0a;
  border-color: #e60a0a;
}
.pbVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
}
.pbVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hidden-xs {
  display: none;
}
div#vidHolder {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
video.hidden-xs {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1100px) {
  video.hidden-xs {
    width: 100%;
    height: 100%;
  }
}
@media overTablet {
  .hidden-xs {
    display: block;
  }
}
article.video div.imgTeaser > div.scontain {
  z-index: 2000;
}
div.vidCover {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
}
div.vidCover2 {
  z-index: 1001;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55);
}
div.vidCover.dark {
  background-color: rgba(0,0,0,0.5);
}
div.vidCover.light {
  background-color: rgba(255,255,255,0.5);
}
div.vidCover.gradient {
  background: -webkit-gradient(linear, right top, left top, from(rgba(43,193,246,0.7)), color-stop(rgba(43,193,226,0.4)), color-stop(rgba(250,0,205,0.5)), to(rgba(255,0,205,0.8)));
  background: linear-gradient(to left, rgba(43,193,246,0.7), rgba(43,193,226,0.4), rgba(250,0,205,0.5), rgba(255,0,205,0.8));
}
ul,
ol {
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #dedede;
  padding: 0.3em 0.5em 0.5em 0em;
  margin-bottom: 4vh;
}
li {
  list-style-type: none;
  padding: 0.7em 3em 0.7em 0.5em;
  border-bottom: 1px solid #dedede;
}
li:last-child {
  border-bottom: none;
}
nav ul {
  border: none;
  padding: 0;
}
footer nav li {
  padding: 1em 0;
}
@-webkit-keyframes color-animation {
  0% {
    background-color: rgba(0,0,0,0.97);
  }
  50% {
    background-color: rgba(0,0,0,0.8);
  }
  100% {
    background-color: rgba(0,0,0,0.97);
  }
}
@keyframes color-animation {
  0% {
    background-color: rgba(0,0,0,0.97);
  }
  50% {
    background-color: rgba(0,0,0,0.8);
  }
  100% {
    background-color: rgba(0,0,0,0.97);
  }
}
.content hr {
  border-bottom: 2px solid #0a0a0a;
}
/* effects */
.multiply {
  background-blend-mode: multiply;
}
.multiply1 {
  background-color: #333;
}
.multiply2 {
  background-color: #951616;
}
.multiply3 {
  background-color: #959016;
}
.multiply4 {
  background-color: #169523;
}
.multiply5 {
  background-color: rgba(0,0,0,0.4);
}
.lighten1 {
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: overlay;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}
.lighten2 {
  background-color: rgba(255,255,255,0.85);
  background-blend-mode: overlay;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}
.gradient > div.scontain {
  background: -webkit-gradient(linear, right top, left top, from(rgba(43,193,246,0.3)), color-stop(rgba(43,193,226,0.1)), color-stop(rgba(250,0,205,0.2)), to(rgba(255,0,205,0.4)));
  background: linear-gradient(to left, rgba(43,193,246,0.3), rgba(43,193,226,0.1), rgba(250,0,205,0.2), rgba(255,0,205,0.4));
  background-blend-mode: multiply;
}
.multiply1 > div.scontain,
.multiply2 > div.scontain,
.multiply3 > div.scontain,
.multiply4 > div.scontain,
.multiply5 > div.scontain {
  background-color: rgba(10,10,10,0) !important;
}
/* cancel all effects */
.nofx div.scontain {
  background: none;
}
@media screen and (min-width: 750px) {
  .m {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .d {
    display: none !important;
  }
}
