.pMsg {
    display: none;
    float: right;
    margin-top: 10px;
}

.text-danger {
    color: red;
}

.validation-summary-errors{
    color:red;
}

div.topNav nav a span {
    color: var(--brand3);
}

.todo {
    color: hotpink;
}

td {
    vertical-align: top;
}

.cart-product-image {
    max-width: 100px;
    height: auto;
}

.summarySpecs u{
    white-space:nowrap;
}

p.logo_brand {
    margin: 0px;
    padding: 0px;
}

    p.logo_brand img {
        height: 70px;
        width: auto;
    }


main.brand-micro div.enquiry {
    padding: 0 !important;
}    


@media screen and (min-width:1000px) {
    .brandBody > p {
        padding-left: 3vw;
        padding-top: 0vw;
    }
}


@media screen and (min-width: 1001px) {
    .onlyShowMobile {
        display:none;
    }
}



@media screen and (max-width: 1000px) {
    .hideMobile {
        display:none;
    }
}


/*Responsive Table stuff*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .hide-760px {
        display: none;
    }

    .cart-product-image {
        max-width: 640px;
        width: 100%;
        height: auto;
    }

    /* Force table to not be like tables anymore */
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        border: 1px solid #ccc;
    }

    .table-responsive td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        text-align: right;
    }

    .table-responsive td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 15px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }

    /*
	Label the data
	*/
}







/* new desktop navigation */
/* navigation and links */
#masthead21 {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
}
#masthead21 nav {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}
#masthead21 nav a {
    text-decoration: none;
    font-weight: 300;
}
#navDeskPri21 {
    min-width:80vw;
}
#navDeskPri21 nav {
    height:70px;
    justify-content: space-around;
    align-items: stretch;
}
#navDeskPri21 nav a {
    font-family: "robotoC";
    font-weight:700;
    font-size:1.2em;
    letter-spacing: 0.03em;
    padding-left:0.3em;
    padding-right:0.3em;
    border-bottom:4px solid #fff;
    border-top:4px solid rgba(0,0,0,0);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
}
#navDeskPri21 nav a.activeLink {
    border-bottom:4px solid #000 ;
}
@media screen and (min-width: 1001px) and (max-width:1300px) {
    #navDeskPri21 nav a {
        font-size:1em;
        letter-spacing: 0.01em;
        padding-left:0.5em;
        padding-right:0.5em;     
    }  
}
#navDeskSec21 nav {
    justify-content: center;
    height:65px;
}
#navDeskSec21 nav a {
    font-size:1em;
    letter-spacing: 0.03em;
    padding-left:1em;
    padding-right:1em;
    text-align: center;
    display: flex;
    align-items: center;
    /*    padding:1.5em 1.1vw; */
}
div#strip21 div.topNav {
    flex-basis: 90%;
    margin-left: 1.5em;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#strip21 div.topNav nav {
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
div#strip21 div.topNav nav a,
div#strip21 div.topNav nav a:first-child {
    font-family: "sf";
    font-weight:300;
    font-size:0.85em;
    padding: 1em 2em 0.8em 0em;
    color:rgba(120,120,120,1.0);
    border-left: none;
    white-space: nowrap;
}
div#strip21 div.topNav nav a i {
    color:rgba(120,120,120,1.0);  
}
div#strip21 div.topNav nav a:hover,
div#strip21 div.topNav nav a:hover i {
    color:rgba(255,0,0,1.0);
}
div#strip21 div.topNav nav a span {
    color:rgba(140,140,140,1.0);  
}

div#strip21,
div#mainNav21,
div#navDeskSec21 {
    background-color: #ffffff;
    border-bottom: 1px solid #e9e9e9;
}

div#masthead21 div.logo {
    display:flex;
    padding:0.1em 0px;
    width:250px;
    height:auto;
    justify-content: center;
    align-items: center;
    background:#000000;
}

div#strip21 a.cart {
    display: flex;
    align-items: center;
    padding: 0.4em 1.2em 0.4em 0.9em !important;
    border:1px solid rgba(140,140,140,0.2);
    border-left:1px solid rgba(140,140,140,0.2) !important;
    border-radius: 30px ;
    align-self: center !important;
}
div#strip21 a.cart i {
    width:auto;
    height: auto;
    margin-right:0.2em;
}
div#strip21 a.cart h5 {
    margin:0;
    padding: 0;
    color: rgba(120,120,120,1.0);
    font-family: 'robotoC';
    font-size:1.2em;
}
div#strip21 a.cart:hover h5 {
    color: rgba(255,0,0,1.0);
}
div#strip21 a.cart.active {
    border:1px solid #79D900 !important;
    border-left:1px solid #79D900 !important;
    background-color: green;
}

div#strip21 a.cart.active i,
div#strip21 a.cart.active h5 {
    color: rgba(255,255,255,1.0);
}
div#strip21 a.cart.active i {
    color:#79D900;
}
div#strip21 a.cart.active:hover i {
    color: rgba(255,255,255,1.0); 
}


@media screen and (max-width: 1100px) {
    /* main layout containers -mbl */
    #masthead21 {display:none;}
}   

@media screen and (min-width: 1000px) {
    #strip21 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #mainNav21 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}  
/* control search bar for bigger screens */
@media screen and (min-width: 1800px) {
    div#strip21 div.topNav {
        flex-basis: 75%;
    }
}  
@media screen and (min-width: 2000px) {
    div#strip21 div.topNav {
        flex-basis: 65%;
    }
}  




/* search topnav */
.searchTDstyle {
    padding: 0.1em;
    border:1px solid rgba(140,140,140,0.2);
    border-radius: 4px ;
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}
.searchTDstyle input.bcs-searchbox {
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.6em 1.2em;
    font-weight: 300;
    color: rgba(20,20,20,1.0);
    border: none;
    /*background-color: rgba(180,180,180,0.1);*/
    flex-basis: 90%;
    border-right:1px solid rgba(140,140,140,0.2);
}
.searchTDstyle input.bcs-searchbox::placeholder {
    font-weight: 300;
    color: rgba(160,160,160,1.0);
    font-size: 1em;
}
.searchTDstyle button.bcs-searchbox-submit {
    align-self: stretch;
    background-color: rgba(180,180,180,0.1);
    border: none;
    padding:0em;
    padding-left: 15px;
    padding-right: 10px;
}
.searchTDstyle button.bcs-searchbox-submit i {
    margin: 0;
    font-size: 1.4em;
    padding-top: 2px;
    color: rgba(120,120,120,1.0);
}
.searchTDstyle button.bcs-searchbox-submit:hover i {
    color: rgba(255,0,0,1.0);
}

/* need a tweener catch for v.small desktops 
-- hide box and show link to stand alone search page */
@media screen and (max-width: 1300px) {
   div.searchTDstyle {display:none;}
   div#strip21 div.topNav {
    flex-basis: 50%;
}
}  

@media screen and (min-width: 1300px) {
    a.fallbackSearch {display:none;}
 }  