body {
    background-color: rgba(250,250,250,1.0);
    background-image: url(/images/concreteW/m.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(20,20,20,1.0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}



/* typography*/

a:link, a:visited {
    color: rgba(255,0,0,1.0);
}
a:hover, a:active {
    text-decoration: none;
}

p,
p a, 
li a {
    line-height:1.4em;
    margin-top: 0.5em;
}
ul, ul li {
    list-style-type: none;
    margin: 0;
    padding:0;
}
h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin:0;
    color: rgba(20,20,20,1.0);
    font-family: 'din';
}
h1 {
    font-weight: 900;
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.03em;
}
h2 {
    font-family: 'din';
    font-size: 1.6em;
    font-weight: 700;
}

h4 {
    font-size: 1em;
    line-height: 2.0em;
    font-weight: 500;
}
h5 {
    font-size: 0.9em;
    line-height: 2.0em;
    text-transform: uppercase;
}
.small {
    font-size: 80%;
}
.terms {
    font-size: 0.9em;
    line-height: 1.4em;
    color: rgba(20,20,20,0.75);
}
strong {
    font-weight: 800;
}
.light {
    font-weight: 300;
}


/* iconography */
.ctaInActive {
    display: inline-block;
    background-color: rgba(20,20,20,0.1);
    padding: 1em 1.5em;
    border-radius: 50px;
    border:2px solid rgba(255,255,255,0.8);
    text-decoration: none;
    color: rgba(255,255,255,1.0);
    font-family: 'din';
    text-transform: uppercase;
    font-size:1em;
    opacity: 0.5;
}

a.ctaActive {
    display: inline-block;
    background-color: rgba(0,170,50,1.0);
    padding: 1em 1.5em;
    border-radius: 50px;
    border:2px solid rgba(0,255,0,1.0);
    text-decoration: none;
    color: rgba(255,255,255,1.0);
    font-family: 'din';
    text-transform: uppercase;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    font-size:1em;
}

.logoStrip {
    max-height:45px;
}









/* layout */
/* layout */
/* layout */
/* layout */


div.slideHolder,
div.slideContent {
    position: relative;
}


div.container, div.slideHolder {
   height:100vh;
}
div.slideContent {
    min-height:90vh;
    padding:5vh 2vw;
    display: flex;
    align-items: center;
}
div.slideContent > div {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 40px;
    padding-left: 5vw;
    padding-right: 5vw;
    min-height:90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.slideContent > div > * {
    flex-basis: 33%;
}


/*copy*/

div.slideContent > div > div#copy {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
div.slideContent > div > div#copy > section {
    padding: 1vh;
    text-align: center;

}
div.slideContent > div > div#copy > section:first-child {
    border-bottom:2px solid rgba(20,20,20,1.0);
    padding-bottom: 3vh;
    margin-bottom: 1.5vh;

}
div.slideContent > div > div#copy > section:last-child {
    border-top:2px solid rgba(20,20,20,1.0);
    text-align: left;
}


@media screen and (min-width:750px) {

}












/* effects */
.insetShdw-light {
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0.4);
}







/* form stuff */
.spacedLR {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.login .spacedLR {
 justify-content: center;
}

fieldset {
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding:1vw 2vw 1vw 1vw;
    display: inline-block;
}
fieldset.noStyle {
    background-color: rgba(255,255,255,0.7);
    border:none;
    padding:1vw 2vw 1vw 1vw;
    display: inline-block;
}

.labelRight input,
.labelRight label {
    display: inline-block;
}
.labelRight input {
    margin-right: 1vw;
}

section.login {
padding-bottom: 1em;}
section.login fieldset {
    padding:0;
    border: none;
    background:none;
}
section.login input[type=text] {
    font-family: 'din';
    font-size:2em;
    width:150px;
    border:1px solid rgba(20,20,20,0.4);
    border-radius:5px;
    text-align: center;
    margin-right: 0.1em;
}
section.login input[type=submit] {
    font-size:1.4em;
    padding:5px 8px;
    text-align: center;
}




/* wheel */
.theWheelContainer {
    background-image: url(/images/bg@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

div.pointer {
    position: absolute;
    width:50px;
    left:50%;
    margin-left: -25px;
}

div.centerCirc {
    position: absolute;
    width:180px;
    left:50%;
    top:50%;
    margin-left: -90px;
    margin-top: -90px;
}
div.pointer img,
div.centerCirc img {
    width:100%;
    height: auto;
}






div.notMobile {
    padding:15vh 10vh;
    text-align: center;
}



@media screen and (max-width: 750px) {
    .container {display: none;}
    .notMobile {display: block;}
}
@media screen and (min-width: 750px) {
    .container {display: block;}
    .notMobile {display: none;}
}