/*!
*
*
*
*
* start variables
*
*
*
*
*
*/

// vars
brand1 = rgba(10,10,10, 1.0)
brand2 = rgba(255,255,255, 1.0)
brand3 = rgba(230,10,10, 1.0)
white = rgba(255,255,255,1.0)
whiteAlp75 = rgba(255,255,255,0.75)
whiteAlp50 = rgba(255,255,255,0.5)
whiteAlp25 = rgba(255,255,255,0.25)
whiteAlp10 = rgba(255,255,255,0.10)
black = rgba(0,0,0,1.0)
blackAlp85 = rgba(0,0,0,0.85)
blackAlp75 = rgba(0,0,0,0.75)
blackAlp50 = rgba(0,0,0,0.5)
blackAlp25 = rgba(0,0,0,0.25)
halfLight = rgba(white, alpha:0.7)
halfDark = rgba(black, alpha:0.7)
lightGrey = rgba(222,222,222,1.0)
mainBG = rgba(245,245,245,1.0)

padXL = 10vw
padL = 5vw
padM = 3vw
padStd = 1.5vw
padXS = 0.65vw

fontStack = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


//responsive breakpoint & media queries
mBreakPoint = 750px
tBreakPoint = 1100px
dBreakPoint = 1500px
lgBreakPoint = 1900px

phoneRule = "screen and (max-width: mBreakPoint )"
tabletRule = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint )"
desktopRule = "screen and (min-width: tBreakPoint) and (max-width: dBreakPoint )"
lgdesktopRule = "screen and (min-width: dBreakPoint)"

mtrigger = "screen and (max-width: tBreakPoint )"
ttrigger = "screen and (min-width: mBreakPoint )"
dtrigger = "screen and (min-width: tBreakPoint )"

phLandscape = "screen and (max-width: mBreakPoint) and (orientation: landscape)"
tbLandscape = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint) and (orientation: landscape)"

ie = "all and (-ms-high-contrast: none), (-ms-high-contrast: active)"

$hideItAll = none !important

// responsive logos
logoDimens = 40vw


// misc blocks
marginM = @block {
    margin-bottom: 8vh
}
marginT = @block {
    margin-bottom: 4vh
}
wh100 = @block {
    width:100%
    height:100%
}



// move all the following out of defaults
// move all the following out of defaults
// move all the following out of defaults
// move all the following out of defaults


// basic defaults
html, body
    font-family: 'Inter', fontStack
@supports (font-variation-settings: normal)
    html, body
        font-family: 'Inter var experimental', fontStack
    p
        line-height: 0.1 !important 
        font-variation-settings: 'wght' 300, 'slnt' -12

        
body
    background-color: blackAlp85
    color: brand1
    // background: linear-gradient(top, white, brand1)
hr
    border: none
    border-bottom: 1px solid lightGrey


