/*! 
* elements 
*/


// animation
$keyframes-name = color-animation
@keyframes {$keyframes-name}
    0% {
        background-color: rgba(0,0,0,0.97);
    }
    50% {
        background-color: rgba(0,0,0,0.8);
    }
    100% {
        background-color: rgba(0,0,0,0.97);
    }

body
  background-color: rgba(0,0,0,0.97)
  animation: color-animation 30s infinite linear alternate



//logo
div.logo
    display:flex
    justify-content: center
    align-items: center
    overflow: hidden
    width: logoDimens
    @media tabletRule
        width: logoDimens*0.75
    @media desktopRule
        width: logoDimens*0.4
    @media lgdesktopRule
        width: logoDimens*0.35
div.logo svg
    display: block
    width: 100%
    height: auto
div.logo.long svg
    width: 100%
div.logo.square svg
    width:30%
div.logo.stacked svg
    width:25%


//cta buttons
.cta
    border:1px solid brand1
    display: inline-block
    padding: 0.55em 1em 0.5em 1em
a.cta:link, a.cta:visited
    text-decoration: none
a.cta:hover, a.cta:active
    color: brand3
    border-color: brand3


//media
.pbVideo
    position: relative
    padding-bottom: 56.25%
    padding-top: 0
    height: 0
.pbVideo iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.hidden-xs
    display: none
div#vidHolder
    position: absolute
    top: 0
    left: 0px
    z-index: 1
    width: 100vw
    height: 100%
    overflow: hidden
video.hidden-xs
    width: 100vw
    height: 100%
    object-fit: cover
@media mtrigger
    video.hidden-xs
        width: 100%
        height: 100%
@media overTablet
    .hidden-xs
        display: block

/* added to support CMS article markup */
article.video div.imgTeaser > div.scontain
    z-index: 2000
div.vidCover
    z-index: 1000
    position: absolute
    width:100%
    height: 100%
div.vidCover2
    z-index: 1001 
    position: absolute
    width:100%
    height: 100%
    background-color: rgba(0,0,0,0.55)
div.vidCover.dark 
    background-color:rgba(0,0,0,0.5)
div.vidCover.light
    background-color:rgba(255,255,255,0.5)
div.vidCover.gradient
    background: linear-gradient(to left, 
    rgba(43,193,246,0.7), 
    rgba(43,193,226,0.4), 
    rgba(250,0,205,0.5),
    rgba(255,0,205,0.8))
 





// lists
ul, ol
    border-top:1px solid lightGrey
    border-bottom: 2px solid lightGrey
    padding: 0.3em 0.5em 0.5em 0em
    {marginT}
li
    list-style-type: none
    padding: 0.7em 3em 0.7em 0.5em
    border-bottom: 1px solid lightGrey
li:last-child
    border-bottom: none
@media desktopRule
    ul, ol
        //
@media lgdesktopRule
    ul, ol
        //
nav ul
    border:none
    padding:0
footer nav li
    padding: 1.0em 0






@media ie
    //target IE (not edge)