// libs and default 3rd party

@import 'nib'
// @import '../css/normalize.css'

// setup
@import '../fonts/inter/interCustom.css'
// @import '../images/icons/icomoon/style.css'
@require 'defaults.styl'

// block, elements
@require 'forms.styl'
@require 'layout.styl'
// typography, links, icons
@require 'typo.styl'

// custom elements
@require 'elements.styl'



// custom modifiers & effects 
.content hr 
    border-bottom: 2px solid brand1

/* effects */
.multiply
    background-blend-mode: multiply
.multiply1
    background-color: #333333
.multiply2
    background-color: #951616
.multiply3
    background-color: #959016
.multiply4
    background-color: #169523
.multiply5
    background-color: rgba(0,0,0,0.4)
.lighten1
    background-color: rgba(255,255,255,0.8)
    background-blend-mode: overlay
    filter:grayscale(80%)
.lighten2
    background-color: rgba(255,255,255,0.85)
    background-blend-mode: overlay
    filter:grayscale(80%)
.gradient > div.scontain
    background: linear-gradient(to left, 
    rgba(43,193,246,0.3), 
    rgba(43,193,226,0.1), 
    rgba(250,0,205,0.2),
    rgba(255,0,205,0.4));
    background-blend-mode: multiply
.multiply1 > div.scontain,
.multiply2 > div.scontain,
.multiply3 > div.scontain,
.multiply4 > div.scontain,
.multiply5 > div.scontain
    background-color: rgba(10,10,10,0.0) !important
/* cancel all effects */
.nofx div.scontain
    background: none












// last in the cascade - highest prio
.m
    @media screen and (min-width: mBreakPoint)
        display: $hideItAll
.d
    @media screen and (max-width: mBreakPoint)
        display: $hideItAll

