@font-face {
    font-family: 'HelvObl';
    src: url('HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
        url('HelveticaLTStd-BlkCondObl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

