@font-face {
    font-family: 'BebasN';
    src: url('bebasneue_bold-webfont-webfont.woff2') format('woff2'),
        url('bebasneue_bold-webfont-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

