
/* =============================================================================
   webfonts
   ========================================================================== */
@font-face {
    font-family: 'Solomon';	
	src: url('solomon_sans_bold-webfont.eot');
    src: url('solomon_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('olomon_sans_bold-webfont.woff2') format('woff2'),
         url('solomon_sans_bold-webfont.woff') format('woff'),
         url('solomon_sans_bold-webfont.ttf') format('truetype'),
         url('solomon_sans_bold-webfont.svg#SolomonSans') format('svg');
	font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Solomon';	
	src: url('solomon_sans_black-webfont.eot');
    src: url('solomon_sans_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('solomon_sans_black-webfont.woff2') format('woff2'),
         url('solomon_sans_black-webfont.woff') format('woff'),
         url('solomon_sans_black-webfont.ttf') format('truetype'),
         url('solomon_sans_black-webfont.svg#SolomonSans') format('svg');
	font-weight: 900;
    font-style: normal;
}
